@font-face {
    font-family: "JetBrains Mono-Medium";
    src: url('JetBrainsMono-Medium.woff2') format('woff2');
}
@font-face {
    font-family: "JetBrains Mono-ExtraBold";
    src: url('JetBrainsMono-ExtraBold.woff2') format('woff2');
}
.AIR-MAX{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.AIR-MAX .div{
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    background: linear-gradient(
        180deg,
        rgb(73.5, 4.78, 127.5)0%,
        rgb(82.35, 32.85, 148.75)16.67%,
        rgb(91.03, 49.14, 159.38) 30.5%,
        rgb(117.37, 58.5, 192.31) 50%,
        rgb(123, 45.18, 200.81) 66.67%,
        rgb(139.18, 28.29, 226.31) 83.33%,
        rgb(152.66, 99.05, 240.12) 100%);
    width: 1280px;
    height: 950px;
    position: relative;
}

.AIR-MAX .overlap {
    position: absolute;
    width: 1077px;
    height: 672px;
    top: 18px;
    left: 203px;
}

.AIR-MAX .frame{
    width: 195px;
    height: 101px;
    top: 14px;
    left: 0;
    position: absolute;
    
}

.AIR-MAX .overlap-group{
    position: relative;
    width: 151px;
    height: 51px;
    top: 23px;
    left: 20px;
    border-radius: 30px;
}
.AIR-MAX .text-wrapper{
    position: absolute;
    top: 11px;
    left: 34px;
    font-family: "JetBrains Mono-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}
.AIR-MAX .buy-now {
    position: absolute;
    width: 151px;
    height: 51px;
    top: 0;
    left: 450px;
    border-radius: 30px;
    border: 1px solid;
    border-color: #ffffff33;
}

.AIR-MAX .img {
    width: 143px;
    height: 307px;
    top: 252px;
    left: 934px;
    position: absolute;
    
}
.AIR-MAX .overlap-2 {
    position: absolute;
    width: 953px;
    height: 672px;
    top: 0;
    left: 0;
}
.AIR-MAX .overlap-wrapper {
    width: 796px;
    height: 448px;
    top: 224px;
    left: 0;
    position: absolute;
    
}
.AIR-MAX .overlap-3 {
    position: relative;
    width: 743px;
    height: 448px;
}
.AIR-MAX .text-wrapper-2 {
    position: absolute;
    top: 111px;
    left: 51px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 120px;
    letter-spacing: 0;
    line-height: normal;
}
.AIR-MAX .img-2 {
    position: absolute;
    width: 664px;
    height: 448px;
    top: 0;
    left: 0;
    object-fit: cover;
}
.AIR-MAX .text-wrapper-3 {
    position: absolute;
    top: 112px;
    left: 50px;
    -webkit-text-stroke: 1px #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff26;
    font-size: 120px;
    letter-spacing: 0;
    line-height: normal;
}
.AIR-MAX .data {
    position: absolute;
    width: 736px;
    height: 240px;
    top: 0;
    left: 217px;
    
}
.AIR-MAX .description {
    position: absolute;
    top: 30px;
    left: 80px;
    font-family: "JetBrains Mono-Medium", Helvetica;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    color: black;
}
.AIR-MAX .price {
    position: absolute;
    top: 0px;
    left: -270px;
    font-family: "JetBrains Mono-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 27px;
    letter-spacing: 0;
    line-height: normal;
}
.AIR-MAX .text-wrapper-4 {
    position: absolute;
    top: 13px;
    left: 1134px;
    font-family: "JetBrains Mono-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}
.AIR-MAX .overlap-4 {
    position: absolute;
    width: 73px;
    height: 35px;
    top: 6px;
    left: 824px;
    border-radius: 30px;
}
.AIR-MAX .text-wrapper-5 {
    position: absolute;
    top: 7px;
    left: 13px;
    font-family: "JetBrains Mono-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}
.AIR-MAX .login {
    position: absolute;
    width: 73px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 30px;
    border: 1px solid;
    border-color: #0000004c;
}
.AIR-MAX .overlap-5 {
    position: absolute;
    width: 85px;
    height: 35px;
    top: 6px;
    left: 923px;
    border-radius: 30px;
}
.AIR-MAX .text-wrapper-6 {
    position: absolute;
    top: 7px;
    left: 11px;
    font-family: "JetBrains Mono-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}
.AIR-MAX .sign-up {
    position: absolute;
    width: 85px;
    height: 35px;
    top: 0;
    left: 0;
    background-color: #d9d9d93d;
    border-radius: 30px;
    border: 1px solid;
    border-color: #ffffff33;
}
.AIR-MAX .logo {
    position: absolute;
    width: 188px;
    height: 56px;
    top: 12px;
    left: 49px;
    object-fit: cover;
}
.AIR-MAX .cart-logo {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 33px;
    left: 1178px;
}
.AIR-MAX .right-button {
    position: absolute;
    width: 238px;
    height: 283px;
    top: 278px;
    left: -67px;
    transform: rotate(180deg);
    
}
.AIR-MAX .right-wrapper {
    position: absolute;
    width: 179px;
    height: 180px;
    top: 50px;
    left: 22px;
    border-radius: 89.5px/90px;
    border: 1.5px solid;
    border-color: #ffffff4a;
}
.AIR-MAX .right {
    position: absolute;
    width: 67px;
    height: 50px;
    top: 68px;
    left: 54px;
}
.AIR-MAX .footer {
    position:absolute;
    width: 1280px;
    height: 80px;
    top: 700px;
    left: 0px;
    background-color: transparent;
}
